.Profile-image {
  width: 70%;
  height: 20vh;
}

.Img {
  width: 70%;
  height: 20vh;
  object-fit: cover;
  border: 1px solid;
  border-radius: 50%;
}

.Profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
